{% extends 'base.html.twig' %}

{% block title %}Content manager{% endblock %}

{% block body %}
<!-- Dashboad  -->
<div class="container">
  <h2 class="text-center">welcome</h1>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}